:root{
  --color-escencial : #F4524C ;
  --border-items : 10px;
  --fondo: rgb(255, 229, 228);
  --box-shadow:0px 5px 10px  rgb(255, 166, 166) ;
  --font-backbround: rgb(253, 169, 169);
  --font-h1: 
}
body{
  background: var(--fondo);
}

div{
  /* border: 1px solid red; */
  margin: 10px;
  
}


.general{
  display: flex;

}


/* ESTADO DE LA  DERECHA*/
.cuadro_estado{
  width: 70%;
  border-radius: var(--border-items);
} 
.search{
  border:2px solid var(--color-escencial);
  border-radius: var(--border-items);
}
#busqueda{
  border-radius: var(--border-items);
  background: white;
  border:none;
  height: 25px;
  width: 99%;
}
.resultados div{
  display: flex;
  background: white;
  color: var(--color-escencial);
  padding: none;
  border-radius: var(--border-items);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.producto{
  display: flex;

}
.producto-datos, .producto-info{
  padding: 10px;
  display: flex;
  flex-direction: column;

}

.producto-datos{
  text-align: center;
  width: 20%;
}
.producto-info{
  width: 80%;
}
.producto-datos > p{
  margin: 5px;
}
.producto-datos input {
  margin-top:5px ;
  border-radius: var(--border-items);
  border: 1px solid var(--color-escencial);
  background: white;
  height: 30px;
}
.producto-datos button {
  margin-top:5px ;
  border-radius: var(--border-items);
  border: none;
  background: var(--color-escencial);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 30px;
}


.last_order{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color-escencial);
  padding: 10px;
  background: white;
  border-radius: var(--border-items);
  box-shadow: var(--box-shadow) ;
}
.list_order{
  border-radius: var(--border-items);
  background: white;
  padding: 5px;
  box-shadow: var(--box-shadow);
}

.list_order > div{
  background: var(--color-escencial);
  border-radius: var(--border-items);
  padding: 0px 10px;
  color:white;
  display: flex;
  align-items: center;

  border: 1px solid red;
  border-bottom: 4px;
}



/* factura prescol */
.factura{
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 2px solid var(--color-escencial);
  border-radius:var(--border-items);
  box-shadow: var(--box-shadow);
  background:white ;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  color: var(--color-escencial);
}

.factura div {
  display: flex;
  justify-content:space-between;
  background:var(--fondo);
  padding: 10px;
  border-radius: var(--border-items);
}
#btn-pagar{
  justify-content: end;
  width: 100%;
  background: var(--color-escencial);
  height: 30px;
  border-radius: var(--border-items);
  color: white;
  border: none;
}
.producto-nombre{
  margin: 0px;
  align-self: center;
  color: black;
}
.producto-pedidos{
  width: 30%;
  display: flex;
  align-items: center;
  margin: 0px;
  color: black;
}

.producto-pedidos-stock, .producto-pedidos-subtotal{
  margin: 0px;
}



/*  */

thead {
  background: rgba(68, 59, 59, 1);
  color: white;
  text-align: center;
}

tbody {
  background: var(--font-backbround);
  border-radius:var(--border-items) ;
  color: white;
  text-align: center;
}

td{
  border: 1px solid white;
  border-radius: 5px
}

td >p{
  margin: 5px;
}
table{
  width: 100%;

}
